@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
  background-color: #0f0f0f;
  background: linear-gradient(240deg, #0f0f0f, #29292e);
}

#root {
  width: 1080px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;
}
