/* Work upload css */
.wu-container {
    height: 100%;
    margin-top: 80px;
}

.wu-navigation-container {
    display: grid;
    place-content: start;
}

#wu-back-btn {
    width: 120px;
    height: 32px;
    margin-left: 80px;
    background: transparent;
    color: #e0e0e0;
    border: 1px solid #00ffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

#wu-back-btn:hover {
    color: #ffffff;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);
}

.wu-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 400px;
    height: 60%;
    margin: 0 auto;
}

.wu-form input, .wu-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    padding: 0 8px;
    background-color: rgb(37, 37, 37);
    color: #e0e0e0;
    font-size: 1rem;
    outline: none;
}

.wu-form textarea {
    height: 100px;
    resize: none;
}

#wu-file-input-label {
    box-sizing: border-box;
    width: 100%;
    font-family: none;
    text-align: left;
    margin-bottom: 4px;
    padding-left: 4px;
}

.wu-form-btn-container {
    display: grid;
    place-content: end;
    width: 100%;
}

.wu-form-btn-container button {
    width: 160px;
    height: 32px;
    background-color: #00ffff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
}

.wu-form-btn-container button:hover {
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

#wu-file-input {
    height: auto;
    padding: 8px;
    cursor: pointer;
}