.community-container {
    height: 100%;
    margin-top: 80px;
}

.community-header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 16px;
}

.community-header-container h2 {
    margin: 0;
    text-align: left;
    text-decoration: underline;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.community-header-container input {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgb(37, 37, 37);
    outline: none;
}

.community-works-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    row-gap: 8px;
    column-gap: 8px;
}

.community-work {
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: end;
    height: 140px;
    padding: 8px;
    border-radius: 8px;
    background-image: url("../../assets/3d-cube.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.community-work p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00ffff;
    padding: 4px;
    border-radius: 6px;
    background-color: black;
}

.work-view-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    backdrop-filter: blur(2px);
}

.work-view-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 1080px;
    height: 70%;
    margin-top: 160px;
}

.work-view-container {
    height: 100%;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: rgb(119, 119, 119, 0.2);
    cursor: move;
}

.work-view-details {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(119, 119, 119, 0.2);
    cursor: default;
}

.work-view-details-text * {
    text-align: left;
    margin: 0;
}

.work-view-details-text h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #00ffff;
}

.work-view-details-text p {
    font-family: none;
}